<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
       >

    <context:annotation-config />
    <context:component-scan base-package="com.vgb"/>

    <!-- TODO: improve the connection factory - consider pooling -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:8090" />
        <!--<property name="brokerURL" value="tcp://localhost:61616" />-->

    </bean>


    <!--<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">-->
        <!--<property name="connectionFactory" ref="connectionFactory" />-->
        <!--&lt;!&ndash;<property name="receiveTimeout" value="0" />&ndash;&gt;-->
    <!--</bean>-->

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsMessagingTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <!--<property name="receiveTimeout" value="0" />-->
    </bean>


    <bean id="requestQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="myRequestQueue" />
    </bean>

    <!--<bean id="responseQueue" class="org.apache.activemq.command.ActiveMQQueue">-->
        <!--<constructor-arg value="myResponseQueue" />-->
    <!--</bean>-->


    <!--<bean id="messageListenerAdapter"-->
          <!--class="org.springframework.jms.listener.adapter.MessageListenerAdapter">-->
        <!--<constructor-arg ref="jmsPersonListener" />-->
    <!--</bean>-->

    <bean id = "messageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destinationName" value="myRequestQueue"/>
        <!--<property name="messageListener" ref="consumerListener"/>-->
        <property name="messageListener" ref="consumerSessionAwareListener"/>
        <!--<property name="messageListener" ref="messageListenerAdapter" />-->

    </bean>

</beans>